<div class="background-boss">
  <div class="taskpopup">

    <div class="taskpopup__header">
      <h3 *ngIf="!task">Create task</h3>
      <h3 *ngIf="task">Edit task</h3>
    </div>

    <div class="taskpopup__body">

      <div class="taskform">

        <div class="taskform__item taskform__name">
          <label for="taskform__name">Name</label>
          <input [(ngModel)]="taskCopy.name" id="taskform__name" type="text">
        </div>

        <div class="taskform__item taskform__state">
          <label for="taskform__state">State</label>
          <select id="taskform__state" [(ngModel)]="taskCopy.state" name="sel2">
            <!-- TODO state hardcoded, may be need to receive them from server? -->
            <option [value]="state" *ngFor="let state of ['Completed', 'In progress', 'Planned']">{{state}}</option>
          </select>
        </div>

        <div class="taskform__item taskform__estimate">
          <label for="taskform__estimate">Estimate(in minute)</label>
          <input [(ngModel)]="taskCopy.estimate" id="taskform__estimate" type="number">
        </div>

        <div class="taskform__item taskform__description">
          <label for="taskform__description">Description</label>
          <textarea [(ngModel)]="taskCopy.description" id="taskform__description" name="text"></textarea>
        </div>

      </div>
    </div>

    <div class="taskpopup__footer">
      <button (click)="onClose.emit(null)" class="sd-btn sd-btn_flat">Cancel</button>
      <button (click)="onSave()" class="sd-btn sd-btn__primary">Save</button>
    </div>

  </div>
</div>
