<sd-task-form
  *ngIf="taskForm.active"
  (onClose)="onCloseTaskForm($event)"
  [task]="taskForm.task"
>
</sd-task-form>

<div class="header-wrapper">
    <h1 class="header-wrapper__title">Task Manager</h1>
    <ul class="estimates__list">
        <li *ngFor="let key of objectKeys(totalEstimates)" class="estimates">
            <sd-state
                [key]="key"
                [value]="totalEstimates[key] | humanizeTime">
            </sd-state>
      </li>
    </ul>
    <div class="header-wrapper_btn-create">
        <button
            (click)="taskForm.active = true"
            class="sd-btn"
        >
            Create
        </button>
    </div>

</div>

<div class="list-wrapper">
  <div class="list-wrapper__tasks list-wrapper__tasks--list">

    <div (click)="taskOnClick(task.id)" *ngFor="let task of tasks">
      <sd-task [taskIsActive]="taskIsActive(task.id)" [task]="task"></sd-task>
    </div>
  </div>

  <div class="list-wrapper__tasks list-wrapper__tasks--description">
    <p *ngIf="!taskOnDescription">
      Select task to view details.
    </p>

    <div *ngIf="taskOnDescription">
      <h3 class="taskOnDescription__name">
        {{taskOnDescription.name}}
      </h3>

      <sd-state
        [key]="taskOnDescription.state"
        [value]="taskOnDescription.state">
      </sd-state>

      <p>
        <span class="taskOnDescription__estimate-label">Estimate:</span>
        {{taskOnDescription.estimate | humanizeTime}}
      </p>

      <p class="taskOnDescription__description">{{taskOnDescription.description}}</p>

      <div class="taskOnDescription__controll">
        <button (click)="taskForm.active = true; taskForm.task = taskOnDescription;" class="sd-btn sd-btn__primary">
          Edit
        </button>
        <button (click)="taskOnDelete(taskOnDescription)" class="sd-btn sd-btn__danger">Delete</button>
      </div>

    </div>
  </div>

</div>
